fastapi
uvicorn
python-multipart
jinja2
python-dotenv
sqlalchemy
pymysql
cryptography
requests
aiohttp
qiniu
pillow
markdown
pydantic
python-jose[cryptography]
passlib[bcrypt]
celery
redis
loguru
httpx